body {
	font-family: garamond;
}

h1 {
	color: #0B486B;
	text-align: center;
}

.estatestack {
	margin: 20px 40px;
}

.navigation {
	margin: 10px;
	text-align: center;
}

.contents {
}

.menu {
	overflow: auto;
}

.menu > li > .nav-pills > .active > a,
.menu > li > .nav-pills > .active > a:hover {
	color: black;
	background-color: #9CF;
}

.menu > li > .nav-pills a {
	color: #333;
}

.submenu {
	overflow: auto;
}

.backdrop {
	background-color: #FFF;
	margin-top: 1ex;
	margin-bottom: 1ex;
}

.blue-box {
	background-color: #3B8686;
	border: 2px solid #0B486B;
	min-height: 30px;
	color: #CFF09E;
	text-align: center;
	padding: 3px;
}

.green-box {
	background-color: #DFEFE7;
	border: 2px solid #0B486B;
	color: #0B486B;
	text-align: center;
	padding: 3px;
}
