body {
	font-family: garamond;
}

h1 {
	text-align: center;
}

.estatestack {
	margin: 20px 40px;
}

.navigation {
	margin: 10px;
	text-align: center;
}

.contents {
}

.menu {
	overflow: auto;
}

.menu > li > .nav-pills > .active > a,
.menu > li > .nav-pills > .active > a:hover {
	color: black;
	background-color: #9CF;
}

.menu > li > .nav-pills a {
	color: #333;
}

.submenu {
	overflow: auto;
}
